.react-calendar__tile--disabled {
    color: gray !important;
  }
  
.react-calendar__tile--weekend { 
  color: gray !important;
}

.highlighted-day{
  color: black !important;
}
  

.react-calendar__tile--selected--now {
  background: aqua !important;
 color: black !important;
}
